/* ========= GooGle font =========  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/* ========= variable  css =========  */

:root {
  /* === colors ===   */
  --primary-color: #000;
  --secondary-color: #fff;

  /* === font === */
  --body-font-family: "Poppins", sans-serif;
}

/* ========= Base ========= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #333;
}
html.dark {
  background-color: #111;
  color: var(--primary-color);
}
html {
  transition: all 0.4s ease-in;
}

body {
  font-family: var(--body-font-family);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

/* ========= Button ========= */

.toggle {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 0;
  border-radius: 4px;
  position: absolute;
  top: 100px;
  padding: 8px 12px;
  cursor: pointer;
}
.toggle:focus {
  outline: none;
}
